<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="BodyCtrl">
    <div id="header">
      <div id="dashboard"> <a class="top-btns" href="">Dashboard</a></div>
      <div id="enter"><a class="top-btns" href="" ng-click="openSkillEnter()">Enter Skills for myself</a></div>
    </div>
    <div class="float" ng-controller="SkillEnterCtrl">
      <div class="float-close"><a class="float-close" ng-click="close()" href>Close</a></div>
      <div class="float-content">
          <h3>Enter My Skill</h3>
          <p>SID: <input type="text"/> </p>
          <p>Skill: <input type="text"/> </p>
          <p>
            <button>Save</button>
            <button>Cancel</button>
          </p>
      </div>
      
    </div>
    <div>
      <h1>Talent Marketplace</h1>

      <div>
        <span>
          <!--
          <input type="text" name="Skill" placeholder="Enter Skills"><input type="submit" value="Submit"> -->
          <div class='container-fluid typeahead-demo' ng-controller="SkillsListCtrl">
            <div>
              <input type="text" id="search" placeholder="Enter Skills" ng-model="selected" uib-typeahead="skill for skill in skill_options | filter:$viewValue | limitTo:8" class="form-control">
            </div>
            <div>
              <span class="selected-item" ng-repeat="item in selected_array">{{item}}</span>
            </div>
            <div>
              <ul>
                <li ng-repeat="skill in skills | filter:getFilter">
                  <span>{{skill.sid}}:&nbsp;{{skill.skill}}</span>
                </li>
              </ul>
            </div>
          </div>
        </span>
      </div>
      <table>
        <tr>
          <th>SID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th>Skill</th>
          <th>Country</th>
          <th>LOB</th>
          <th>Manager</th>
          <th>CIO</th>
        </tr>
        <tr ng-repeat="person in people">
          <td>{{sid}}</td>
          <td>{{firstName}}</td>
          <td>{{lastName}}</td>
          <td>{{role}}</td>
          <td>{{skill}}</td>
          <td>{{country}}</td>
          <td>{{lob}}</td>
          <td>{{manager}}</td>
          <td>{{cio}}</td>
        </tr>
      </table>
      
    </div>

  </body>
</html>
